node_modules
.next
out
build
coverage

.git
.gitignore
.github

.env
.env.*
!.env.example

Dockerfile
.dockerignore
docker-compose*.yml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

README.md
docs

generated/prisma
